* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font: 400 16px "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: auto 0px;
}

main {
  font-size: 1.5rem;
  line-height: 1.5em;
}

.container-top {
  --offset: 100px;
  --fade: 120px;

  display: flex;
  align-items: flex-end;
  justify-self: end;
  justify-content: flex-end;
  -webkit-mask: linear-gradient(
    #0000 calc(100vh + var(--offset)),
    #000 calc(100vh + var(--offset) + var(--fade))
  );
}

a.top {
  text-decoration: none;
  font-size: 3rem;
  background-color: #e96443;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  opacity: 0.3;
  transition: opacity ease 0.7s;
}

a.top:hover {
  opacity: 0.7;
}
