* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font: 400 16px "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: auto 0;
}

a.top {
  text-decoration: none;
  font-size: 3rem;
  background-color: #e96443;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  place-self: end;
  position: sticky;
  bottom: 20px;
  --offset: 100px;
  margin-top: calc(100vh + var(--offset));
  margin-right: 10px;
  white-space: nowrap;
}
