body, html
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 400 16px Nunito;
}

body {
    background: url("../nav_background_1.jpg") center/cover no-repeat;
    min-height: 100vh;
}

.nav-bar {
    background: #ffc7dc;
}

.nav-bar ul {
    list-style: none;
    gap: 0.3rem;
}

.nav-bar ul li {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.nav-bar ul li.active {
    background: #ff94bb;
}

.nav-bar ul li:hover {
    background: #ff94bb;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000;
}

.nav-bar ul li:hover .sub-menu-1 {
    display: flex !important;
    inset: auto auto auto 0;
    background: #ffc7dc;
    min-width: 180px;
}

.nav-bar ul li:hover .sub-menu-1 ul {
    display: flex;
    flex-direction: column;
}

.nav-bar ul li:hover .sub-menu-1 ul li{
    border-radius: 0;
}

.nav-bar ul li li:hover .sub-menu-2 {
    display: flex !important;
    margin-top: -20px;
    margin-left: 140px;
    background: #ffc7dc;
    min-width: 190px;
}




